<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>整合汉化补丁下载界面</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="icon" href="https://avatars1.githubusercontent.com/u/34183279?s=16">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?26813993156e49b631f0cd4ec228819d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

    </script>
    <style>
        table,
        tr,
        td,
        th {
            border: 1px solid rgba(6, 5, 14, 0.58);
            text-align: center;
            margin: auto;
        }

        td {
            padding: 5px 10px;
            font-size: 15px;
            line-height: 1.6;
            font-weight: bold;
        }

        .table_body,
        h1 {
            text-align: center;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .text {
            margin: 0 22%;
            font-weight: bold;
            font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
        }

        h2 {
            margin-top: 35px;
            margin-bottom: 5px;
        }

        code {
            color: #364421;
            background-color: #dfd9d9;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 2px;
        }

    </style>
</head>

<body>
    <div class="text">
        <h1>—— 整合汉化补丁下载界面 ——</h1>
        <p>1. 下载前请注意整合名称和版本！</p>
        <p>2. Linux 版本为使用 Linux 或者面板服开服人员设计。如果你是单机玩家，或者在用家用机开服，请选择 Windows！</p>
        <p>3. 无论如何，最好在打汉化补丁前备份客户端或者服务端，避免发生不必要的损失！</p>
        <p>4. 汉化补丁现在为 zip 的压缩文件，只需要将压缩包放置到游戏主目录（一般为 .minecraft 文件夹，即你放置模组的那个文件夹）下，而后选择解压到当前文件夹即可。如果出现合并文件夹/覆盖文件提示，点击全部合并/全部覆盖即可。</p>        
        <p>5. “链接和显示都成了代码/不能进行相应的跳转/下载不了”等等问题：请检查你是否用的是谷歌或者火狐浏览器，IE 以及部分国产浏览器太过差劲，我实在不想提供兼容。</p>              
        <p>6. 这个页面提供的是整合汉化，如果想要同时将整合内模组进行汉化，需要配合 <a href="http://www.mcbbs.net/thread-805273-1-1.html">自动汉化更新模组</a> 使用。这是由于模组加载机理导致的，并非我们主动做出两个部分。</p>
        <p>7. 你如果在服务器游玩中发现汉化补丁失效，请向服主询问服务端是否也打上了汉化补丁。</p>
    </div>
    <div class="table_body" id="data_total">
        <div v-for="data in data_total">
            <h2>{{ data.name }}</h2>
            <table>
                <tr>
                    <th>版本</th>
                    <th>Windows</th>
                    <th>MacOS/Linux</th>
                </tr>
                <tr v-for="content in data.contents">
                    <td>{{ content.version }}</td>
                    <td>
                        <a :href="content.windows.url">[点击下载]</a><br> MD5：
                        <code>{{ content.windows.md5 }}</code><br> SHA-1：
                        <code>{{ content.windows.sha1 }}</code><br>
                    </td>
                    <td>
                        <a :href="content.linux.url">[点击下载]</a><br> MD5：
                        <code>{{ content.linux.md5 }}</code><br> SHA-1：
                        <code>{{ content.linux.sha1 }}</code><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text">
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC8yOTcxNS82Mjgz">
            <script type="text/javascript">
                (function(d, s) {
                    var j, e = d.getElementsByTagName(s)[0];
                    if (typeof LivereTower === 'function') {
                        return;
                    }
                    j = d.createElement(s);
                    j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                    j.async = true;
                    e.parentNode.insertBefore(j, e);
                })(document, 'script');

            </script>
            <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->
    </div>
    <script type="module" src="js/data.js"></script>
</body>

</html>
